@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  min-height: 72vh;
  max-height: 200vh;
  /* background-color: #313131; */
  background-color: rgba(0, 0, 0, 0.815);
  width: 100%;
}

nav ul {
  list-style: none;
  padding:10px;
  text-align: left;
  margin-bottom: 0;
}

nav ul li {
  padding: 10px;
}

#nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
#nav ul li a:hover {
  color: #97a6b6;
}

.admin_iconBar{
  padding-right: 10px;
  color: #fd5f00;
}